
        <div class="chat-room-container ">
            <!-- Chat Messages -->
            <div class="chat-messages" id="chatMessages">
                <div class="message" *ngFor="let message of messages" [ngClass]="{'sent': message.author === 'Me', 'received': message.author !== 'Me'}">
                    <div class="message-text">{{ message.text }}</div>
                    <div class="message-time">{{ message.timestamp | date:'shortTime' }}</div>
                </div>
            </div>

            <!-- Chat Input -->
            <div class="chat-input-container">
                <input type="text" [(ngModel)]="newMessage" placeholder="Type a message..." class="chat-input" (keyup.enter)="sendMessage()" />
                <button (click)="sendMessage()" class="send-button">
                    <i class="fa fa-paper-plane"></i> <!-- FontAwesome icon -->
                </button>
            </div>
        </div>
     
