.container {
    background: linear-gradient(to bottom, #8200ff, #b245e0);
    padding: 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
  }
  
  .user-list {
    flex-grow: 1;
    overflow-y: auto;
    margin-top: 20px;
  
    .user-item {
      display: flex;
      align-items: center;
      background: white;
      border-radius: 10px;
      padding: 10px;
      margin-bottom: 10px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  
      .user-avatar {
        position: relative;
        margin-right: 10px;
  
        img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
        }
  
        .status {
          position: absolute;
          bottom: 5px;
          right: 5px;
          width: 12px;
          height: 12px;
          border-radius: 50%;
          border: 2px solid white;
  
          &.online {
            background-color: green;
          }
  
          &.offline {
            background-color: red;
          }
        }
      }
  
      .user-info {
        h3 {
          margin: 0;
          font-size: 18px;
  
          .dot {
            margin-left: 5px;
            &.online-dot {
              background-color: green;
            }
  
            &.offline-dot {
              background-color: red;
            }
          }
        }
  
        p {
          margin: 5px 0 0;
          font-size: 14px;
          color: #888;
        }
      }
    }
  }
  
  .floating-button {
    position: fixed;
    bottom: 80px;
    right: 20px;
    background-color: purple;
    color: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  }
  
  .footer {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px 10px 0 0;
  
    i {
      font-size: 24px;
      color: #555;
    }
  }
  