<div class="app-main__inner">
    <div class="app-page-title app-page-title-simple">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div>
                    <div class="page-title-head center-elem">
                        <span class="d-inline-block pr-2">
                            <i class="lnr-apartment opacity-6"></i>
                        </span>
                        <span class="d-inline-block">Chat Dashboard</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="background-video-container">
        <video autoplay muted loop playsinline>
            <source src="viedo.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <div class="overlay-text">
            <h1>Make your life beautiful with us</h1>
        </div>
    </div>
    
    

  
</div>