<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="Content-Language" content="en">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>Minimal Dashboard - Examples of just how powerful ArchitectUI really is!</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no">
        <meta name="description" content="Examples of just how powerful ArchitectUI really is!">
        <!-- Disable tap highlight on IE -->
        <meta name="msapplication-tap-highlight" content="no">
        <link rel="stylesheet" href="/vendors/@fortawesome/fontawesome-free/css/all.min.css">
        <link rel="stylesheet" href="/vendors/ionicons-npm/css/ionicons.css">
        <link rel="stylesheet" href="/vendors/linearicons-master/dist/web-font/style.css">
        <link rel="stylesheet" href="/vendors/pixeden-stroke-7-icon-master/pe-icon-7-stroke/dist/pe-icon-7-stroke.css">
        <link href="/styles/css/base.css" rel="stylesheet">
    </head>
    <body>
        <div class="app-container app-theme-white body-tabs-shadow fixed-header fixed-sidebar">
           <app-usernav></app-usernav>
           
            <div class="app-main">
                <div class="app-sidebar sidebar-shadow">
                    <div class="app-header__logo">
                        <div class="logo-src"></div>
                        <div class="header__pane ml-auto">
                            <div>
                                <button type="button" class="hamburger close-sidebar-btn hamburger--elastic" data-class="closed-sidebar">
                                    <span class="hamburger-box">
                                        <span class="hamburger-inner"></span>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="app-header__mobile-menu">
                        <div>
                            <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
                                <span class="hamburger-box">
                                    <span class="hamburger-inner"></span>
                                </span>
                            </button>
                        </div>
                    </div>
                    <div class="app-header__menu">
                        <span>
                            <button type="button" class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
                                <span class="btn-icon-wrapper">
                                    <i class="fa fa-ellipsis-v fa-w-6"></i>
                                </span>
                            </button>
                        </span>
                    </div>
                   <app-usersidebar></app-usersidebar>
                </div>
                <div class="app-main__outer">
                    <div class="app-main__inner">
                        <div class="app-page-title app-page-title-simple">
                            <div class="page-title-wrapper">
                                <div class="page-title-heading">
                                    <div>
                                        <div class="page-title-head center-elem">
                                            <span class="d-inline-block pr-2">
                                                <i class="lnr-apartment opacity-6"></i>
                                            </span>
                                            <span class="d-inline-block">Minimal Dashboard</span>
                                        </div>
                                        <div class="page-title-subheading opacity-10">
                                            <nav class="" aria-label="breadcrumb">
                                                <ol class="breadcrumb">
                                                    <li class="breadcrumb-item">
                                                        <a>
                                                            <i aria-hidden="true" class="fa fa-home"></i>
                                                        </a>
                                                    </li>
                                                    <li class="breadcrumb-item">
                                                        <a>Dashboards</a>
                                                    </li>
                                                    <li class="active breadcrumb-item" aria-current="page">
                                                        Minimal Dashboard Example
                                                    </li>
                                                </ol>
                                            </nav>
                                        </div>
                                    </div>
                                </div>
                                <div class="page-title-actions">
                                    <div class="d-inline-block pr-3">
                                        <select id="custom-inp-top" type="select" class="custom-select">
                                            <option>Select period...</option>
                                            <option>Last Week</option>
                                            <option>Last Month</option>
                                            <option>Last Year</option>
                                        </select>
                                    </div>
                                    <button type="button" data-toggle="tooltip" data-placement="left"
                                        class="btn btn-dark" title="Show a Toastr Notification!">
                                        <i class="fa fa-battery-three-quarters"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="mbg-3 alert alert-info alert-dismissible fade show" role="alert">
                            <span class="pr-2">
                                <i class="fa fa-question-circle"></i>
                            </span>
                            This dashboard example was created using only the available elements and components, no additional SCSS was
                        written!
                        </div>
                        
                       
                        
                        
                        
                    </div>
                    <div class="app-wrapper-footer">
                       <app-userfooter></app-userfooter>
                    </div>
                </div>
            </div>
        </div>
      
      
        
    </body>
</html>
